/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1b1b24; /* Fundo escuro sofisticado */
    color: #fff; /* Texto branco para contraste */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto; /* Permite a rolagem */
  }
  
  /* Container Principal */
  .app-container {
    display: flex;   
    width: 100%;
    padding: 50px;
    height: 80vh;
    background-color: #2a2a3e; /* Fundo ligeirSamente mais claro */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    gap: 10px;
    
  }
  
  /* Formulário */
  .form-container {
    font-size: 0.9rem;
    width: 100%;
    border: 1px solid #565677;
    flex: 2;
    padding: 20px;
    margin: 10px;
    
    
  }
  
  .form-title {
    font-size: 1.3rem;
    color: #e0e0ff;
    margin: 20px auto 10px; /* Define margem superior e inferior */
    text-align: center;
    width: 100%; /* Garante que o título ocupe a largura total */
  }
  
  .item-list {
    font-size: 0.9;
    list-style: none;
    padding: 0;
  }
  
  .item {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  
  .field-list {
    list-style: none;
    padding-left: 20px;
    font-size: 0.9rem;
  }
  
  .field-item {
    width: 80%;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  .select-field {
    height: 32px;
            
  }

  .generate-button {
    background-color: #6055ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .generate-button:hover {
    background-color: #4a40cc;
  }
  
  /* Inputs e Selects */



  .select-field {
    margin-left: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #565677;
    background-color: #3a3a50;
    color: #fff;
    font-size: 0.5;
  }

  .report-container {
    width: 500px;
    border: 1px solid #565677;
    padding: 20px;
    margin: 10px;
  }

  .report-title {
    
    font-size: 1.3rem;
    color: #e0e0ff;
    margin: 20px auto 10px; /* Define margem superior e inferior */
    text-align: center;
    width: 100%; /* Garante que o título ocupe a largura total */
  }

  .report-textarea {
    width: 87%;
    height: 550px; /* Aumenta a altura da área de texto */
    background-color: #3a3a50;
    color: #fff;
    border: 1px solid #565677;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    resize: none;
    margin-top: 50px;
    margin-left: 17px;
  }

  /* Responsividade */
@media (max-width: 1024px) {
  .app-container {
    flex-direction: column;
    height: 98vh;
    padding: 10px;
    overflow-y: auto; /* Permite a rolagem em telas menores */
  }

  .form-container,
  .report-container {
    width: 70vw;
    flex: 1;
    padding: 15px;
    height: auto;
  }
  .item-list {
    margin-top: 10%;
  }

  .report-textarea {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .form-title,
  .report-title {
    font-size: 1.5rem;
  }
  .form-title {
    font-size: 1.5rem;
    margin-top: 10px; /* Reduz a margem superior em telas pequenas */
    margin-bottom: 5px; /* Reduz a margem inferior em telas pequenas */
}
.item-list {
  margin-top: 10px; /* Espaço entre título e itens */
}

  .generate-button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .report-textarea {
    height: 250px;
    
  }
}

@media (max-width: 280px) {
  .app-container {
    flex-direction: column;
    height: auto;
    overflow-y: auto; /* Permite a rolagem em telas menores */
        
  }

  .form-container,
  .report-container {
    width: 90%;
    padding: 10px;
    
  }

  .field-item {
    width: 80%;
  }

  .form-title,
  .report-title {
    font-size: 1.2rem;
  }

  .item-list {
    margin-top: 10px; /* Espaço entre título e itens */
}

  .select-field {
    width: 30%;
    margin-top: 5px;
  }

  .generate-button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .report-textarea {
    height: 200px;
  }
}

  
  
  